rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Les utilisateurs peuvent lire tous les produits, mais seul un administrateur peut les modifier.
    match /Produits/{produitId} {
      allow read: if request.auth != null;
      allow write: if get(/databases/$(database)/documents/Utilisateurs/$(request.auth.uid)).data.role == 'admin';
    }

    // Les utilisateurs peuvent créer et gérer leurs propres commandes.
    match /Commandes/{commandeId} {
      allow read, write: if request.auth.uid == resource.data.utilisateur.idUtilisateur;
      // Les administrateurs peuvent lire toutes les commandes.
      allow read: if get(/databases/$(database)/documents/Utilisateurs/$(request.auth.uid)).data.role == 'admin';
    }

    // Les utilisateurs peuvent lire et mettre à jour leurs propres informations.
    match /Utilisateurs/{utilisateurId} {
      allow read, update: if request.auth.uid == utilisateurId;
      // Les administrateurs peuvent lire tous les utilisateurs.
      allow list: if get(/databases/$(database)/documents/Utilisateurs/$(request.auth.uid)).data.role == 'admin';
    }
  }
}